@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Space+Mono&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

h1 {

}

body {
  background: #202225;
}

/* Conditional Styling*/
.active-tab {
  display: block;
}

.inactive-tab {
  display: none;
}
/*  */
/*  */
/* End of Nav Styling */


/* Nav Styling */
#nav {
  display: flex;
  background-color: #04111D;
  align-items: center;
}

.n-logo {
  color: white;
  flex: 1;
  padding: 4vh;
  font-family: 'Space Mono', sans-serif;
  letter-spacing: 3px;
  font-weight: 800;
}

.n-menu {
  display: none;
}

.n-item-hidden {
opacity: .5;
}

.n-item {
  transition: 1s ease all;
}

.n-item:hover {
  opacity: 50%;
  transition: 1s ease all;
}

.n-button {
  width: 24px;
  height: 24px;;
}

.active {
  opacity: .5;
}

.n-item button{
  font-family: 'Space Mono', sans-serif;
  letter-spacing: 3px;
  font-size: 3vh;
  padding: 4vh;
  font-weight: 700;
  border: none;
  background: transparent;
  color: white;
 
}
/*  */
/*  */
/* End of Nav Styling */

/* Photo Styling */

.p-box {
}

.p-inner {
  flex: 1;
  padding: 1vh;
}

.p-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  overflow-y: hidden;
}



.p-img-box {
  border: 1px solid #151B22;
  background: rgb(53, 56, 64, .5);
margin: auto;
color: white;
transition: 1s ease all;
}

.p-img-box:hover {
  background: #353840;
  transition: .5s ease all;
}

.p-button-container {
display: flex;
justify-content: flex-end;
align-items: flex-end;
}

.p-button-container button {
  padding: 1vh 1vh 0 0 ;
  border: none;
  background: transparent;
}

.p-button-container img {
  height: 24px;
  width: 24px;
}

.p-title {
  margin: auto;
  width: 90%;
  padding: 1vh;
  font-size: 3vh;
}

.p-img-container {
  padding: 1vh 4vh;
  margin: auto;
  display: flex;
  flex-flow: column;
  overflow:auto;
}

.p-img-container img {
  object-fit: contain;
}

.p-border div {
  border-radius: 5px;
}

.p-container img {
  border-radius: 5px;
}

.n-menu-active{
  display: flex;
  flex-flow: row;
}

.n-menu-inactive{
  display: flex;
  flex-flow: row;
}

.p-border {
  flex: 1;
  background: #202225;
  padding: 1vh;
    transition: all 1s ease;
    width: 50vh
}

.p-sub-col {
  width: 80%;
  margin: auto;
  text-align: left;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding-bottom: 2vh;
}

.p-sub-date {
padding-top: 1vh;
font-size: 2vh;
}

.p-sub {
  font-size: 2vh;
}

hr {
  opacity: .5;
  margin: 1vh 0;
}

/*  */
/*  */
/* End of Photo Styling */

/* Loading Styling */
.l-footer {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.l-footer img{
  width: 100px;
  height: 100px;
}
/*  */
/*  */
/* End of Loading Styling */

/* Animation Styling */
.animate__animated.animate__fadeIn {
  --animate-duration: .5s;
}

.animate__animated.animate__fadeInUp {
  --animate-duration: 1s;
}
/*  */
/*  */
/* End of Animation Styling */

/* Media Query Styling */
@media screen and (max-width: 1023px){
  .p-border {
    width: 80%;
    height: 80%
  }
}

@media screen and (max-width: 425px){
  #nav {
  flex-flow: column;
 }

 .n-menu-row {
   display: flex;
   flex-flow: row;
 }

 .n-menu {
   background: transparent;
   border: none;
   display: block;
 }

 .n-menu-active {
  display: block;
 }

 .n-menu-inactive {
  display: none;
 }
}
/*  */
/*  */
/* End of Media Query Styling */